{% extends "MftBaseBundle:Base:3-columns.html.twig" %}

{% block center %}
    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-10 pull-right">
        <a href="{{path('mft_base_story_new')}}" class="btn btn-primary new-story">{{'new-story'|trans}}</a>
    </div>
{% endblock %}